<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
</head>
    <body data-bs-theme = "dark">
    <nav class="menu-main navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="search d-flex" role="search" method="post" action = "{% url 'search_post' %}">
              {% csrf_token %}
              <input class="inp-search form-control me-2" name = "text" type="search" placeholder="Пошук" aria-label="Search">
              <input class="btn btn-outline-success" type="submit" placeholder="Знайти">
            </form>
          <div class="menu navbar-collapse position-absolute end-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Головна</a>
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration' %}">Реєстрація</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Увійти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_article' %}">Додати</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_page' request.user.id %}">Профіль | <span class="username">{{ request.user.username }}</span></a>
                    </li>
                {% endif %}
            </ul>

          </div>
        </div>
      </nav>
{% block content %}
{% endblock %}
</body>
</html>