.date{
    text-align: right;
    margin-right: 10%;
    font-style: italic;
}
div.post{
    width: 1160px;
    padding: 5px;
    border: white solid;
    border-width: 0 5px;
    margin: 5px auto;
}

img{
    max-width: 1140px;
}

.title_post{
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    font-family: Arial;
}