<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація на сайті</title>
    <link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="registration-window">
        <form class="registration-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Зареєструватись" class="submit-button">
        </form>
    </div>
</body>
</html>