<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація на сайті</title>
    <link rel="stylesheet" href="{% static 'registration/css/registration.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="registration-window">
        <form class="registration-form">
            <div class="input-line">
                <label>Введіть ім'я: </label><input type="text" required><br>
            </div>
            <div class="input-line">
                <label>Введіть прізвище: </label><input type="text" required><br>
            </div>
            <div class="input-line">
                <label>Введіть нік: </label><input type="text" required><br>
            </div>
            <div class="input-line">
                <label>Введіть пароль: </label><input type="password" required><br>
            </div>
            <div class="input-line">
                <label>Підтвердіть пароль: </label><input type="password" required><br>
            </div>
            <input type="submit" value="Зареєструватись" class="submit-button"><br>
        </form>
    </div>
</body>
</html>