body {
	text-align: center;
	background-color: #1F1F1F;
	position: relative;
}

label {
	font-family: Segoe UI;
	color: white;
}

input {
	background-color: #1F1F1F;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;

	color: white;

	transition: opacity 0.15s;
}

input:hover {
	opacity: 0.7;
}

td {
	text-align: right;
	padding: 5px;
}

table {
	margin-bottom: 10px;
}

.registration-window {
	display: inline-block;
	margin: auto;

	border-style: solid;
	border-color: lightblue;
	border-radius: 5px;
	border-width: 3px;

	padding: 30px;

	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, 50%);
  	transform: translate(-50%, 50%);
}

.submit-button {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;

	padding: 10px;
	cursor: pointer;

	background-color: rgb(74, 200, 234);
	border-color: rgb(13, 110, 253);
	border-style: solid;
	border-radius: 6px;
	border-width: 0.8px;

	color: white;

	transition: background-color 0.15s;
}

.submit-button:hover {
	background-color: transparent;
}

#id_logo{
     width: 175px;
     font-family: 'Oswald', sans-serif;
	font-size: 20px;

	cursor: pointer;

	background-color: rgb(74, 200, 234);
	border-color: rgb(13, 110, 253);
	border-style: solid;
	border-radius: 6px;
	border-width: 0.8px;

	color: white;
	transition: background-color 0.15s;
}
.submit-button:hover {
	background-color: transparent;
}

#id_logo::file-selector-button {
    display:none;
}
#id_logo::file-selector-button {
    display:none;
}
#id_logo:hover {
	background-color: transparent;
}
